* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .team,
  .projects,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .team {
    background-image: url('./images/foto3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .projects {
    background-image: url('./images/foto2.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .contact {
    background-image: url('./images/foto4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }

  
  .slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    height: 600px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slider-dots {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #272727;
    margin: 0 5px;
    background: #f1f1f1;
  }

  .dot.active {
    background: #272727;
  }

  .app-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1rem;
  }

  .table {
    border: 1px solid transparent;
  }

  .th,.tr {
    border: 1px solid transparent;
    text-align: left;
    padding: 8px;
    font-size: 32px;
    background-color: rgb(205, 235, 253);
  }

  .project-title {
    text-align: center;
    color: #000000;
    font-size: 40px;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
  }

  .project-info {
    color: #000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    width: 50%;
    background-color: #ffffff;
    font-weight: lighter;
    vertical-align: top;
  }

  .project-description {
    color: #000;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-weight: lighter;
    background-color: #ffffff;
  }

  .aboutus-container {
    background-image: url('./images/aboutusbackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aboutus-container > h1 {
    font-size: 50px;
    margin-top: 0px;
    color: #000;
  }

  .aboutus-info {
    color: #000;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 50%;
    background-color: transparent;
    font-weight: lighter;
    vertical-align: center;
  }

  .aboutus-image {
    background-image: url('./images/aboutusfoto.jpg');
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    height: 603px;
  }

  .mailer-container {
    background-image: url('./images/contactbackground.jpg');
  }

  .contact-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .contact-info {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
    height: 15px;
  }